<!DOCTYPE html>
<html lang='fr'>
	<head>
		<meta charset="UTF-8">
		<meta name='viewport' content='width=device-width, initial-scale=1'>

		<!-- Inclure le 'refresh' uniquement pour la page "historique" -->
		{% if app.request.get('_route') == 'historique' %}
			<meta http-equiv="refresh" content="15">
		{% endif %}
		
		<title>
			{% block title %}Bienvenue!
			{% endblock %}
		</title>
		<!-- CSS de Bootstrap compilé et minifié  -->
		{% block stylesheets %}
			<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'>
			<link rel='stylesheet' href="{{asset('css/maison.css')}}">
		{% endblock %}
	</head>
	<body class="fond ">
		<div class="container-fluid">
			<div class="row">
				<div class='col-2'></div>
				<div class='col-8'>
					<header class="row">

						<div class='col-5'>{{app.session.get('user_nom')}}</div>
						<nav class="justify-content-end navbar col-7">
							
							{% if app.session.get('token_auth') %}
								<a href="{{path('listeDocuments')}}" style='padding:20px'>Voir votre bibliothèque</a>
								<a href="{{path('deconnecterCompte')}}" style='padding:20px'>Déconnexion</a>
							{% else %}
								<a href="{{path('creationCompte')}}" style='padding:20px'>Créer un compte</a>
								<a href="{{path('connecterCompte')}}" style='padding:20px'>Connexion</a>
							{% endif %}
							<a href="{{path('pageAccueil')}}" style='padding:20px'>Accueil</a>
													
							{% set panier = app.session.get('panier') %}
							{% set nbItems = 0 %}
							{% for ligne in panier %}
								{% set nbItems = nbItems + ligne.quantite %}
							{% endfor %}
						</nav>

					</header>
					{% for message in app.flashes('notice') %}
						<div class="flash-notice col-12 alert alert-danger">
							{{ message }}
						</div>
					{% endfor %}

					{% for message in app.flashes('succ') %}
						<div class="flash-notice col-12 alert alert-success">
							{{ message }}
						</div>
					{% endfor %}


					{% block principal %}{% endblock %}
				</div>
				<div class='col-2'></div>
			</div>
		</div>


		<footer class="container-fluid">
			<div class="row">
				<div class="col-9"></div>
				<div class="col-3">©François Massé 2022</div>
			</div>
		</footer>

		{% block javascripts %}
			<!-- jQuery library -->
			<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
			<!-- Popper JS -->
			<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js'></script>
			<!-- JavaScript compilé -->
			<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js'></script>

		{% endblock %}
	</body>
</html>
