{% extends 'base.html.twig' %}
{% block principal %}

    <h2>Liste des documents dans votre bibliothèque</h2>

    <table>
        <tr>
            <th style='padding:20px'>Mien</th>
            <th style='padding:20px'>Titre</th>
        </tr>
        {% for document in documents %}
        <tr>
            <td>
                {% if document.estAuteur %}
                X
                {% endif %}
            </td>
            <td><a href="{{path('document',{id: document.id})}}">{{document.titre}}</a></td>
        </tr>
        {% endfor %}
    </table>

    {{form_start(formDocument)}}
        <table>
        <tr>
            <td>{{ form_label(formDocument.doc, "Document") }}</td>
            <td>{{ form_widget(formDocument.doc) }}</td>
            <td style="color:red;">{{ form_errors(formDocument.doc) }}</td>
        </tr>
        
        <tr>
            <td><input type="submit" name='enregistrer' value='Enregistrer' class='btn btn-info'/></td>
        </tr>
        </table>

    {{form_end(formDocument, {'render_rest': false})}}

{% endblock %}